@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen";
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #c5c5c5;
}
.slick-prev,
.slick-next {
  color: black !important;
  background-color: gray !important;
  border-radius: 15px;
}
